<h4>League score</h4>
<button class="btn btn-primary btn-sm" id="modalLeague" type="button">Add league
</button>
<button class="btn btn-danger btn-sm" id="modalUpload" type="button">Upload csv</button>
<table class="league-table display nowrap" style="width:100%">
    <thead>
    <tr>
        <th scope="col">Home</th>
        <th scope="col">Home Score</th>
        <th scope="col">Away</th>
        <th scope="col">Away Score</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th scope="col">Home</th>
        <th scope="col">Home Score</th>
        <th scope="col">Away</th>
        <th scope="col">Away Score</th>
        <th scope="col">Actions</th>
    </tr>
    </tfoot>
</table>
