<h4>Statistic data</h4>
<table class="statistic-table display nowrap" style="width:100%">
    <thead>
    <tr>
        <th scope="col">Teams</th>
        <th scope="col">Play</th>
        <th scope="col">Win</th>
        <th scope="col">Draw</th>
        <th scope="col">Lose</th>
        <th scope="col">Points</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th scope="col">Teams</th>
        <th scope="col">Play</th>
        <th scope="col">Win</th>
        <th scope="col">Draw</th>
        <th scope="col">Lose</th>
        <th scope="col">Points</th>
    </tr>
    </tfoot>
</table>
